.footer{
    height: 10vh;
    background-color: rgb(45, 3, 59);
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 2ch;
    font-size: small;
	align-items: last baseline;
}

