.footer{
    height: 10vh !important;
    background-color: rgb(45, 3, 59) !important;
    width: 100% !important;
    text-align: center !important;
    color: white !important;
    padding-top: 2ch !important;
    font-size: small !important;
	align-items: last baseline !important;
}

