.q-container{
    width: 100%  !important;
    height:50vh  !important;
    display: flex  !important;
    flex-direction: column  !important;
    object-fit: contain  !important;
}

.qbg-img{
    background:transparent  !important;
    filter: brightness(40%)  !important;
    width: 100%  !important;
    height: 80vh  !important;
    clip-path: ellipse(91% 66% at 54% 31%)  !important;
}


.qimg-shadow{
    position: absolute  !important;
    top: 0  !important;
    left: 0  !important;
    width: 100%  !important;
    height: 80vh  !important;
    background-color: #22013d  !important;
    clip-path: ellipse(91% 66% at 64% 31%)  !important;
    z-index: -5  !important;
}

.q-container > h1 {
    color: #ffffff  !important;
    font-size: 90px  !important;
    margin-top:-25%   !important;
    z-index: 5  !important;
    text-align: center  !important;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important;
}

.q-main {
	display: flex  !important;
	flex-direction: column  !important;
	align-items: center  !important;
	padding: 20px  !important;
	padding-top: 15%  !important;
}

select{
	font-size: 16px  !important;
	color: white  !important;
	background-color: rgb(45, 3, 59)  !important;
	border: 1px solid rgb(31, 1, 41)  !important;
	margin-left: 2ch  !important;
	display: flex !important;
	border-radius: 2ch;
}

select option{
	font-size: 14px  !important;
	color: white  !important;
	background-color: rgb(45, 3, 59)  !important;
	border: 1px solid rgb(31, 1, 41)  !important;
}

.q-output {
	font-family: fantasy  !important;
	font-size: 16px  !important;
	width: 100%  !important;
	margin-bottom: 20px  !important;
	background-color: #d0bed8  !important;
	border: 1px solid #ddd  !important;
	padding: 10px  !important;
	box-sizing: border-box  !important;
	border-radius: 5px  !important;
}

.q-button {
	background-color: rgb(45, 3, 59)  !important;
  border: 1px solid rgb(31, 1, 41)  !important;
  color: white  !important;
  padding: 10px 24px  !important;
  cursor: pointer  !important;
  margin-top: 2ch  !important;
  margin-bottom: 2ch  !important;
  border-radius: 2ch  !important;
  display: block  !important; 	
  margin: 0 auto  !important; 
}

.q-button:hover {
	background-color: rgb(208, 190, 216)  !important;
	color: black  !important;
}

.q-button:active {
	background-color: rgb(182, 103, 216)  !important;
	box-shadow: 2ch  !important;
	color: black  !important;
}

.q-form {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important;
	font-size: 16px  !important;
	width: 100%  !important;
	margin-bottom: 20px  !important;
	background-color: #d0bed8  !important;
	border: 1px solid #ddd  !important;
	padding: 10px  !important;
	box-sizing: border-box  !important;
	border-radius: 5px  !important;
	text-align: left  !important;
}

.q-cont{
	margin-bottom: 5ch  !important;
	display:inline-block;
}

/* input[type="radio"] {
	display: inline-block !important;
	vertical-align: middle !important;
	margin: 0 10px 0 0 !important;
	appearance: none !important;
	width: 16px !important;
	height: 16px !important;
	border-radius: 50% !important;
	border: 2px solid #999 !important;
	background-color: #fff !important;
	outline: none !important;
  }
  
  input[type="radio"]:checked {
	background-color: #999 !important;
  } */