.t-main{
    padding-top: 20%  !important;
    height: 50vh  !important;
}

.t_background{
	background-color: white  !important;
}

.t_heading{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important;
	font-size:xx-large  !important;
	font-weight:900  !important;
	text-align: center  !important;
	z-index: 5  !important;
}

.t_input{
	background-color: rgb(208, 190, 216)  !important;
	width: 30ch  !important;
	margin-left: 6%  !important;
	padding-left: 2ch  !important;
	border-radius: 2cm  !important;
	padding-top: 1ch  !important;
	padding-bottom: 1ch  !important;
}

.t_output{
	background-color: rgb(208, 190, 216)  !important;
	width: 80%  !important;
	margin-left: 5%  !important;
	margin-right: 5%  !important;
	border: 1cm  !important;
	border-radius: 1cm  !important;
	border-color: black  !important;
	padding-left: 5%  !important;
	padding-right: 5%  !important;
	padding-top: 1ch  !important;
	padding-bottom: 1ch  !important;
	margin-top: 1ch  !important;
	margin-bottom: 1ch  !important;
}

.t_button{
	background-color: rgb(45, 3, 59)  !important;
	margin-left: 2ch  !important;
	border-radius: 2ch  !important;
	color: white  !important;
	padding-left: 1ch  !important;
	padding-top: 1ch  !important;
	padding-bottom: 1ch  !important;
	padding-right: 1ch  !important;
}

.t_button:hover{
	background-color: rgb(208, 190, 216)  !important;
	color: black  !important;
}

.t_button:active{
	background-color: rgb(182, 103, 216)  !important;
	box-shadow: 2ch  !important;
	color: black  !important;
}

.t-container{
    width: 100%  !important;
    height:50vh  !important;
    display: flex  !important;
    flex-direction: column  !important;
    object-fit: contain  !important;
}

.tbg-img{
    background:transparent  !important;
    filter: brightness(40%)  !important;
    width: 100%  !important;
    height: 80vh  !important;
    clip-path: ellipse(91% 66% at 54% 31%)  !important;
}


.timg-shadow{
    position: absolute  !important;
    top: 0  !important;
    left: 0  !important;
    width: 100%  !important;
    height: 80vh  !important;
    background-color: #22013d  !important;
    clip-path: ellipse(91% 66% at 64% 31%)  !important;
    z-index: -5  !important;
}

.t-container > h1 {
    color: #ffffff  !important;
    font-size: 90px  !important;
    margin-top:-25%   !important;
    z-index: 5  !important;
    text-align: center  !important;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important;
}

.t-main-container{
	margin-bottom: 20%;
	padding-bottom: 20%;
}